<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details du film</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">

</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Projet Cinéma</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../">Liste des films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../auth/login">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../auth/register">S'inscrire</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Main content -->
<div class="container my-4">

    <!-- Film details -->
    <div class="card">
        <div class="card-body">
            <img src="<%= Movie.picture %>" alt="Image du film" height="300px">
            <h5 class="card-title"><%= Movie.title %></h5>
            <p class="card-text"><%= Movie.synopsis %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Année de sortie :</strong> <%= Movie.year %>   </li>
            <li class="list-group-item"><strong>Réalisateur :</strong> <%= Movie.realisator %></li>
            <li class="list-group-item"><strong>Acteurs :</strong> <%= Movie.actors %></li>
            <li class="list-group-item"><strong>Genre :</strong> <%= Movie.genders %></li>
            <li class="list-group-item"><strong>Durée :</strong> <%= Movie.time %></li>
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
