<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Projet Cinéma</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="movies">Liste des films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="auth/login">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="auth/register">S'inscrire</a>
                </li>
            </ul>
        </div>
    </nav>


<main class="container my-4">
    
    <!-- Construit la div principale d'une page d'acceuil avec Boostrap pour un site référençant une multitude de films -->
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Projet Cinéma 3</h1>
        <p class="lead">Projet Cinéma est un site référençant une multitude de films.</p>
        <hr class="my-4">
        <p>Vous pouvez rechercher un film par son titre ou par son réalisateur.</p>
        <p>Ce site rescence une multitude de films ayant été récupéres sur Tirexo par le biais d'un script de Scrapping</p>
    </div>

    
    <form class="form-inline my-4" method="post" action="/movies/search">
        <label class="mr-2" for="input-recherche-titre">Titre :</label>
        <input type="text" class="form-control mr-2" id="input-recherche-titre" placeholder="Rechercher par titre" name="input-recherche-titre">

        <label class="mr-2" for="input-recherche-realisateur">Réalisateur :</label>
        <input type="text" class="form-control mr-2" id="input-recherche-realisateur" placeholder="Rechercher par réalisateur" name="input-recherche-realisateur">

        <button type="submit"  class="btn btn-primary">Rechercher</button>
    </form>

    <div id="liste-films">
        <h2>Les films les plus récents</h2>
        <div id="liste-films">
            <div class="card-columns">
            <% Movies.forEach(movie => { %>
                <div class="card mt-4">
                  <div class="card-body">
                    <img src="<%= movie.picture %>" alt="<%= movie.title %>" width="200px">
                    <h4 class="card-title"><%= movie.title %></h4>
                    <h5 class="card-subtitle mb-2 text-muted"><%= movie.genre %></h5>
                    <p class="card-text"><%= movie.duration %></p>
                    <p class="card-text"><%= movie.year %></p>
                    <p class="card-text"><%= movie.genders %></p>
                    <a href="./movies/details/<%= movie.title %>" class="btn btn-primary">Voir le film</a>
                </div>
                </div>
              <% }) %>
            </div>
        </div>
</main>

<footer class="bg-light py-4">
    <div class="container text-center">
        <p>Projet Cinéma - 2023</p>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
